.Logo__link {
    color: $black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.logo-prefix {
    color: $red;
}

.Logo__link-white {
    color: $white;
}
