<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a class="Logo__link" href="index.html"><span class="logo-prefix">&#706;</span>vottakfolio <span class="logo-prefix">/&#707;</span></a>
            </div>

            <nav class="nav" id="nav">
                <a class="nav__link" href="index.html" data-aos="fade-down" data-aos-delay="">Главная</a>
                <a class="nav__link" href="about.html" data-aos="fade-down" data-aos-delay="50">Обо мне</a>
                <a class="nav__link" href="services.html" data-aos="fade-down" data-aos-delay="100">Услуги</a>
                <a class="nav__link" href="portfolio.html" data-aos="fade-down" data-aos-delay="150">Портфолио</a>
                <a class="nav__link" href="contactspage.html" data-aos="fade-down" data-aos-delay="200">Контакты</a>
            </nav>

            <button class="burger" type="button" id="navToggle">
                <span class="burger__line">1</span>
                <span class="burger__line">2</span>
                <span class="burger__line">3</span>
                <span class="burger__line">4</span>
                    </button>
        </div><!-- ./ header__inner -->
    </div><!-- ./ container -->
</header>
